Body {

    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: black;
    background-color: rgb(130, 175, 215);
}

#wrap {

    width: 1100px;
    background-color: rgb(200, 235, 255);
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flow-root;
}

.navbar ul {
    list-style: none;
    background-color: rgb(80, 200, 255);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    border-radius: 10px;
}
.navbar a{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: center;
    transition: 200ms;

}
.navbar a:hover {
    background-color: rgb(25, 160, 255);
    transition: 200ms;
    box-shadow: 1px 1px 10px darkblue inset;  
}
.navbar li {
    float: left;
}

h1 {
    
    text-align: center;
}

img {

    float: left;
    margin-right: 15px;
    border: 5px solid blue;
}

.text {

    float: left;
}

.maina {

    float: left;
    width: 300px;
}

/* 1200px and above */
@media (max-width: 1200px) {
  #wrap {
    width: 95%;
    padding: 15px;
  }

  .main {

  display: block;
  padding-top: 10px;
overflow: hidden;
border-radius: 15px;
}
}

/* 768px and below */
@media (max-width: 768px) {
#wrap {
    width: 95%;
    padding: 10px;
}
  
.navbar li {
    float: none;
    width: 100%;
}
 
.text {
    width: 90%;
}

img {
    float: none;
    display: block;
    margin: 0 auto 15px auto;
}

}
