Body {

    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: black;
    background-color: rgb(130, 175, 215);
    
}

#wrap {

    width: 1100px;
    background-color: rgb(200, 235, 255);
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

h1, h3 {

    text-align: center;
    size: 1em;
}

.main {

  display: block;
  margin: auto;
  border: 5px solid rgb(0, 0, 180);
  border-radius: 40px;
  box-shadow: 0px 0px 60px rgb(0, 0, 100);
}

.navbar ul {
    list-style: none;
    background-color: rgb(80, 200, 255);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    border-radius: 10px;
}
.navbar a{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: center;
    transition: 200ms;

}
.navbar a:hover {
    background-color: rgb(25, 160, 255);
    transition: 200ms;
    box-shadow: 2px 2px 10px darkblue inset;
    
}
.navbar li {
    float: left;
}

.names {
  text-align: center;
}