Body {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: black;
    background-color: rgb(130, 175, 215);
    
}

#wrap {

    width: 1100px;
    background-color: rgb(200, 235, 255);
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

h1 {

    text-align: center;
    size: 1em;
}

.Grandparents, .parents, .grandkids {

    display: block;
    align-self: start;
    padding: 20px;
    margin: auto;
}

img {

    border: 0px solid;
    transition: 300ms;
    
}

img:hover {

    border: 5px solid goldenrod;
    transition: 400ms;
    
}

.text {

    resize: none;
    font-family: shag lounge;
    align-items: flex-start;
    background-color: rgb(113, 146, 146);
    padding: 20px;
    outline: none;
    border: 0;
    border-radius: 15px;
}

.navbar ul {
    list-style: none;
    background-color: rgb(80, 200, 255);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    border-radius: 10px;
}
.navbar a{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: center;
    transition: 200ms;

}
.navbar a:hover {
    background-color: rgb(25, 160, 255);
    transition: 200ms;
    box-shadow: 2px 2px 10px 2px darkblue inset;
    
}
.navbar li {
    float: left;
}
